body {
  line-height: 1.25em;
  margin: 0;
  min-height: 100%;
  position: relative;
}

html {
  box-sizing: border-box;
  height: 100%;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.cookie-banner {
  align-items: center;
  background-color: #484848;
  color: #fff;
  display: flex;
  height: auto;
  justify-content: space-evenly;
  line-height: 1.25em;
  padding: 10px 15px;
}

.cookie-banner a {
  color: #fff;
}

.cookie-message {
  padding-right: 15px;
}

.button-close {
  background-color: #fff;
  border: 2px solid transparent;
  border-radius: 3px;
  cursor: pointer;
  flex: 0 0 auto;
  font-weight: bold;
  margin-right: 15px;
  outline: 0;
  padding: 0.75em;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  width: 100px;
}

@import './fonts'
